.wrap{
  background: #fff;
  float: none;
  margin: 40px auto;
  padding: 20px;
  position: relative;
}
.introduction {
  margin: 0 auto;
  padding: 0;
}
.intro-title {
  margin: 0 auto;
  padding: 0;
  line-height: 1.3em;
  text-align: center;
}
  .intro-title .fa-stack {
    display: block;
    margin: 0 auto 20px auto;

  }
  .intro-title span {
    text-align: right;
    font-weight: 100;
  }
.intro-paragraph {
  display: block;
  margin: 30px auto;
  padding:0 10px;
  max-width: 600px;
}


/* ================================================================== */
/* === Responsive styles ============================================ */
/* ================================================================== */

/* Smartphones */
@media only screen and (max-width: 469px) {

}

/* Large smartphones */
@media only screen and (min-width: 470px) and (max-width: 699px) {

}

/* Tablets and landscape large smartphones */
@media only screen and (min-width: 700px) and (max-width: 1279px) {
}

/* Desktop screens */
@media only screen and (min-width: 1280px) and (max-width: 1499px){

}

/* Large screen */
@media only screen and (min-width: 1500px) and (max-width: 1799px){

}

/* Very large screen */
@media only screen and (min-width: 1800px){

}
