@import 'src/styles/_definitions';

.Header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  scroll-snap-align: start;

  padding-top: 3rem;

  @include for-three-column-up {
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: row;
    overflow: visible;
  }
}

.Title {
  margin-bottom: 1rem;

  @include for-three-column-up {
    margin-bottom: 0;
  }
}

.Nav {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, max-content);
}
