@import 'src/styles/_definitions';

.Header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  @include for-three-column-up {
    flex-direction: row;
    overflow: visible;
  }
}

.Title {
  font-style: italic;
  transform: rotate(-3deg);
  margin-bottom: 1rem;

  @include for-three-column-up {
    margin-bottom: 0;
  }
}

.Nav {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, max-content);
}
