@import 'src/styles/_definitions';

.Container {
  margin: 0 auto;
  width: 100%;
  max-width: $layout-max-width;
  position: relative;
  z-index: 2;
}

.Header {
  padding: 3vh $gutter-width / 2 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  gap: 0.5rem;

  @include for-two-column-up {
    align-items: center;
    padding: 10vh $gutter-width / 2 0;
    padding-top: 3rem;
  }
}

.Nav {
  width: fit-content;
  display: grid;
  gap: $gutter-width / 1.5;
  grid-template-columns: repeat(1, max-content);
  text-align: right;

  @include for-two-column-up {
    gap: $gutter-width;
    grid-template-columns: repeat(3, max-content);
  }
}
