html, body {
  background: #fff;
  margin: 10em 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.module.introduction {
  font-family: sans-serif;
}
.intro-container {
  display: block;
  text-align: center;
}
h1.intro-title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 72px;
}
