@import 'src/styles/_definitions';

.Title {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  letter-spacing: 0.3rem;

  font-size: 13vw;

  @include for-two-column-up {
    font-size: 11vw;
  }

  @include for-three-column-up {
    font-size: 5vw;
  }

  @include for-four-column-up {
    font-size: 4vw;
  }
}

.Letter {
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-transform: lowercase;
  color: var(--surface-color, white);
  z-index: 1;
  text-shadow: -1.5px -1.5px 0 var(--content-color), 1.5px -1.5px 0 var(--content-color),
    -1.5px 1.5px 0 var(--content-color), 1.5px 1.5px 0 var(--content-color);
}

.Letter:after {
  content: attr(data-shadow);
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: -1;
  text-shadow: none;
  background-image: $background-gradient;
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
