@import 'src/styles/_definitions';

.SemanticTitle {
  @include visually-hidden;
}

.Title {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  letter-spacing: 0.25rem;
  font-size: 13vw;

  @include for-two-column-up {
    font-size: 7vw;
  }

  @include for-three-column-up {
    font-size: 3vw;
  }
}

.Letter {
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-transform: lowercase;
  color: var(--surface-color, white);
  z-index: 1;
  text-shadow: -1.5px -1.5px 0 var(--content-color, black),
    1.5px -1.5px 0 var(--content-color, black), -1.5px 1.5px 0 var(--content-color, black),
    1.5px 1.5px 0 var(--content-color, black);
}

.Letter:after {
  content: attr(data-shadow);
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: -1;
  text-shadow: none;
  background-image: $background-gradient;
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  // animation: rainbow 30s ease infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
