.c-landingHeader {
  margin: 5em auto;
  text-align: center;

  &__title {
    @extend .c--title;

    letter-spacing: 0.25em;
    font-size: 2.5em;

    color: #FFF;
    text-shadow:
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      2px 2px 0 #000,
     #444 5px 7px;

    &--line {
      display: block;

      &.first {
        margin-left: -2em;
      }
      &.second {
        margin-left: 1em;
      }
    }
  }

  &__links {
    padding: 0;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 0.15em;
    font-size: 1em;

    & li {
      display: inline;
      margin: 0 10px 0 0;
      list-style: none;
      &:last-child {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: $one-columns) {
  .c-landingHeader__title {
    font-size: 1.5em;
  }
}
