.c-tabCount {
  &__count {
    float: left;
    margin: -30px 0 0 0;
    padding: 0;
    font-size: 12em;
    font-weight: 100;
    font-family: sans-serif;
  }

  &__spinner {
    color: #FFF;
    
    text-shadow:
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      3px 3px 10px #333,
      2px 2px 0 #000;
  
    animation-name: spin, depth;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 9s;
  }

  &__bar {
    margin: -10px auto;
    width: 70%;
    height: 7px;
    border: 2px solid #333;
    box-shadow:#444 3px 3px;
  }

  &__details {
    margin: 70px 0 0 -90px;
    padding: 0;
    float: left;
    font-family: sans-serif;
    width: 200px;
    text-align: left;
    position: relative;
    z-index: 1;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

@media screen and (max-width: $two-columns) {
  .c-tabCount {
    &__count {
      padding-left: 12%;
      font-size: 6em;
    }

    &__details {
      width: auto;
      margin: 0;
    }
  }
}

@keyframes spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(-360deg); }
}
@keyframes depth {
  0 {
    text-shadow:
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      3px 3px 10px #333,
      2px 2px 0 #000;
  } 
  25% {
    text-shadow: 
    1px 0 #444,
    2px 0 #444,
    3px 0 #444,
    4px 0 #444,
    5px 0 #444;
  }
  50% {
    text-shadow: 
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      3px 3px 10px #333,
      2px 2px 0 #000;
  }
  75% { 
    text-shadow: 
      -1px 0 #444,
      -2px 0 #444,
      -3px 0 #444,
      -4px 0 #444,
      -5px 0 #444; 
  }
  100% { 
    text-shadow:
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      3px 3px 10px #333,
      2px 2px 0 #000;
  }
}
