@import 'src/styles/_definitions';

.Link {
  text-decoration: none;

  &:hover,
  &:focus {

    .Label {
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }
}

.Label {
  color: var(--link-color);
  text-decoration: none;
  text-underline-offset: 1px;

  @include for-three-column-up {
    text-decoration: none;
  }
}
