@import 'src/styles/_definitions';

.Link {
  text-decoration: none;

  &:before {
    margin-right: 2px;
    content: '🔗' / '';
  }

  &:hover,
  &:focus {
    &:before {
      content: '👉' / '';
    }

    .Label {
      text-decoration: underline;
    }
  }
}

.Label {
  color: var(--link-color, blue);
  text-decoration: underline;
  text-underline-offset: 1px;

  @include for-three-column-up {
    text-decoration: none;
  }
}
