@import 'src/styles/_definitions';

.Projects {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  @include for-two-column-up {
    grid-template-columns: 1fr 1fr;
  }

  @include for-three-column-up {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
