@import 'src/styles/_definitions';

$project-width: 1fr;

.Projects {
  display: grid;
  gap: 1.5rem;
  border: 1.5px solid var(--border-color);
  background: var(--surface-accent-color);

  grid-template-columns: $project-width;
  padding: 3rem 1.5rem 1.5rem;

  & > div:nth-child(-n + 1) {
    margin-top: -10rem;
  }

  @include for-two-column-up {
    grid-template-columns: repeat(2, $project-width);
    padding: 4rem 3rem 3rem;

    & > div:nth-child(-n + 2) {
      margin-top: -10rem;
    }
  }

  @include for-three-column-up {
    grid-template-columns: repeat(3, $project-width);
    padding: 3rem 1rem 1rem;
    border-radius: 1rem;

    & > div:nth-child(-n + 3) {
      margin-top: -8rem;
    }
  }

  @include for-four-column-up {
    grid-template-columns: repeat(4, $project-width);

    & > div:nth-child(-n + 4) {
      margin-top: -8rem;
    }
  }
}
