// Variables

// Max breakpoints for the number of masonry columns on display
$one-columns: 743px;
$two-columns: 1107px;

// Basic text styling and generic configurations
a {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 0.15em;

  &:hover {
    text-decoration: underline;
  }
}

.c--title {
  text-transform: uppercase;
  font-family: sans-serif;
  transition: 0.25s;
}

// Mobile-specific generic styling
@media screen and (max-width: $two-columns) {
  .c--title {
    text-align: center;
  }
}

// Import all our partials
@import '../components/**/*.scss';
@import '../containers/**/*.scss';
