@import 'src/styles/_definitions';

.App {
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 9rem;
  max-width: $layout-breakpoint;
  font-family: Helvetica, sans-serif;

  @include for-three-column-up {
    padding: 0 1rem;
  }
}
