@import 'src/styles/_definitions';

.Page {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--surface-color, white);
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.App {
  border-top: $gutter-width / 2 solid var(--link-color);
  margin: 0 auto 0 auto;
  max-width: 100vw;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @include for-two-column-up {
    gap: 2rem;
  }
}

.Intro {
  margin: 0 auto;
  width: 100%;
  max-width: $layout-max-width;

  & > p:first-child {
    font-style: italic;
    margin-bottom: 0; 
  }

  & .Columns {

    @include for-three-column-up {
      display: flex;
      gap: $gutter-width / 8;
    }
  }

  & p {
    padding: 0 $gutter-width / 2;
    font-size: 110%;
    line-height: 1.5rem;
    max-width: 40ch;
  }
}

.Visual {
  margin: -100px auto 0;
  width: 100%;
  max-width: $layout-max-width;
  position: relative;

  @include for-two-column-up {
    height: 5vh;
  }

  & > p {
    margin: 0 $gutter-width;
    font-size: 350%;
    font-weight: lighter;
    font-style: italic;
    z-index: 2;
    position: absolute;
    right: 40%;
    top: 0;
    color: #fff;
  }
}

.Background {
  position: absolute;
  top: -3rem;
  right: 0;

  width: auto;
  height: 35vh;
}

.Footer {
  border-bottom: $gutter-width / 2 solid var(--link-color);
  text-align: center;
  background: var(--surface-accent-color);
  padding: $gutter-width * 2;
  margin: 0;
  font-size: 0.9rem;
  font-style: italic;
  line-height: 1.5;
}
