@import 'src/styles/_definitions';

.Page {
  height: 100vh;
  width: 100vw;
  position: relative;
  font-family: monospace;
  line-height: 1.3rem;
  background-color: var(--content-color);
}

.App {
  position: relative;
  min-height: 100%;
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
  padding: 1.5rem;
  background-color: var(--surface-color, white);
  border: 4px solid var(--content-color);
  border-radius: 0;
  margin: 0;
  overflow-x: hidden;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "content";
  place-items: start center;


  @include for-two-column-up {
    padding: 2rem;
    place-items: center;
  }
}

.Content {
  grid-area: content;
  max-width: 52ch;
  display: flex;
  flex-direction: column;

  @include for-two-column-up {
    flex-direction: column;
  }
}

.Header {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.Title {
  display: inline-block;
  font-weight: 700;
  color: var(--content-color);
  border: 4px solid var(--content-color);
  padding: 1.5rem;
  margin: 0;
  background: var(--surface-accent-color);
  box-shadow: 6px 6px 0 0 var(--content-color);
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 1.75rem;

  @include for-two-column-up {
    font-size: 2rem;
    padding: 1;

  }
}

.Intro {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1rem 0;
  padding: 2rem 1.5rem;
  border: 4px solid var(--content-color);
  border-radius: 0;
  background-color: var(--surface-accent-color);
  box-shadow: 6px 6px 0 0 var(--content-color);
  font-size: 0.9rem;


  @include for-two-column-up {
    font-size: 1rem;
    padding: 3rem 2rem;
  }
}

.Nav {
  display: flex;
  gap: 1rem;
}