@import 'src/styles/_definitions';

.Project {
  padding: 3rem 1rem 2rem;
  border: 2px solid var(--border-color);
  border-radius: 1rem;
  background: var(--surface-color, white);
  text-align: center;
  transition: transform 150ms ease-in-out;

  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  @include for-two-column-up {
    grid-template-columns: 1fr;
  }

  @include for-three-column-up {
    &:hover {
      border-color: var(--link-color);
      transform: scale(1.05);

      // targets <Icon />
      > span:first-child {
        animation-name: swing;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-duration: 0.5s;
      }
    }
  }
}

.Content {
  display: grid;
  gap: 0.25rem;
}

.Title {
  margin: 0;
  margin-bottom: 0.25rem;
}

.Description {
  margin: 0;
}

@keyframes swing {
  1% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
