@import 'src/styles/_definitions';

$project-width: calc(#{$layout-max-width} / 4.7);

.Project {
  width: $project-width;
  padding: 0;
  border-radius: 0.75rem;
  z-index: 2;
  border: 2px solid var(--border-color);
  // border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 2px var(--shadow-light-color);
  background: var(--surface-accent-color, white);
  text-align: left;
  transition: all 150ms ease-in-out, border 300ms ease-in;

  scroll-snap-align: start;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @include for-only-one-column {

    &.highlighted {
      border-color: var(--link-color);

      // targets <Icon />
      > span:first-child {
        animation-name: depth, float;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-duration: 2.5s;
        animation-delay: 150ms;
        transform-style: preserve-3d;
      }
    }
  }

  @include for-two-column-up {
    &:focus-within,
    &:hover {
      border-color: var(--link-color);
      transform: scale(1.05);
      box-shadow: 0.5rem 0.5rem 6px var(--shadow-light-color);

      // targets <Icon />
      > span:first-child {
        animation-name: swing;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-duration: 0.5s;
      }

      .Title {
        display: none;
      }

      .Content {
        display: grid;
      }

      & + .highlighted {
        border: 2px solid var(--border-color);
      }
    }
  }
}

.Title, .Content {
  margin: 0;
}

.Title {
  font-size: 180%;
  padding: 3rem 1rem;

  @include for-two-column-up {
    font-size: 165%;
  }
}

.Content {
  display: grid;
  gap: 1rem;
  padding: 0rem 1rem 2rem;

  @include for-two-column-up {
    display: none;
    padding: 2rem 1rem;
  }
}

.Description {
  margin: 0;
}

.Link {

}

@keyframes swing {
  1% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-1px, 4px);
  }
  75% {
    transform: translate(1px, -3px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-360deg);
  }
}

@keyframes depth {
  0% {
    text-shadow: -2px -2px 2px var(--shadow-light-color), 2px -2px 2px var(--shadow-light-color),
      -2px 2px 2px var(--shadow-light-color), 3px 3px 10px var(--shadow-light-color),
      2px 2px 2px var(--shadow-light-color);
  }
  25% {
    text-shadow: 1px 0 2px var(--shadow-dark-color), 2px 0 2px var(--shadow-dark-color),
      3px 0 2px var(--shadow-dark-color), 4px 0 2px var(--shadow-dark-color),
      5px 0 2px var(--shadow-dark-color);
  }
  50% {
    text-shadow: -2px -2px 2px var(--shadow-light-color), 2px -2px 2px var(--shadow-light-color),
      -2px 2px 2px var(--shadow-light-color), 3px 3px 10px var(--shadow-light-color),
      2px 2px 2px var(--shadow-light-color);
  }
  75% {
    text-shadow: -1px 0 2px var(--shadow-dark-color), -2px 0 2px var(--shadow-dark-color),
      -3px 0 2px var(--shadow-dark-color), -4px 0 2px var(--shadow-dark-color),
      -5px 0 2px var(--shadow-dark-color);
  }
  100% {
    text-shadow: -2px -2px 2px var(--shadow-light-color), 2px -2px 2px var(--shadow-light-color),
      -2px 2px 2px var(--shadow-light-color), 3px 3px 10px var(--shadow-light-color),
      2px 2px 2px var(--shadow-light-color);
  }
}
