@import 'src/styles/_definitions';

html,
body {
  margin: 0;
  padding: 0;
  background: var(--link-color);
  max-height: 100vh;

  @include for-two-column-up {
    max-height: auto;
    overflow-y: auto;
  }
}

h2,
h3,
p,
span {
  color: var(--content-color);
}
