@import 'src/styles/_definitions';

html,
body {
  margin: 0;
  padding: 0;
  background: var(--link-color);
  max-height: 100dvh;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.3;

  @include for-two-column-up {
    max-height: auto;
    overflow-y: auto;
  }
}

h2,
h3,
p,
span {
  color: var(--content-color);
}

p a,
a {
  color: var(--link-color);
  text-decoration: underline;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

p, a {
  font-weight: 400;
}

strong {
  font-weight: 700;
}
