
// Basic text styling
a {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 0.15em;

  &:hover {
    text-decoration: underline;
  }
}

// Styling based on component/view
.v-landing {
}
.c-landingHeader {
  margin: 5em auto;
  max-width: 1120px;
  text-align: center;

  &__title {
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 0.25em;
    font-size: 2.5em;
    transition: 0.25s;


    &--line {
      display: block;

      &.first {
        margin-left: -2em;
      }
      &.second {
        margin-left: 1em;
      }
    }
  }

  &__links {
    padding: 0;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 0.15em;
    font-size: 1em;

    & li {
      display: inline;
      margin: 0 10px 0 0;
      list-style: none;
      &:last-child {
        margin: 0;
      }
    }
  }
}

.c-projects-container {
  margin: 0 auto;
  max-width: 1092px;
}

.c-projects {
  margin: 0 auto;
  width: 100%;
}
.c-projects:after {
  content: '';
  display: block;
  clear: both;
}
.c-project {
  width: 320px;
  margin: 0 10px 20px 10px;
  padding: 10px;
  border: 2px solid #333;
  font-family: sans-serif;

  &__title {
    margin: 0 0 5px 0;
    font-weight: 100;

    &--year {
      margin-left: 5px;
      font-weight: 900;
      font-size: 0.65em;
    }
  }

  &__description {
    margin: 10px 0 15px 0;
  }

  &__cta {
    text-align: center;
    & a {
      font-size: 0.75em;
    }
  }
}

// a few mobile-specific styles
@media screen and (max-width: 740px) {
  .c-landingHeader__title {
    font-size: 1.5em;
  }
  .c-projects {
    margin: 0 auto;
    width: 100%;
  }
}
