@import 'src/styles/_definitions';

@font-face {
  font-family: 'Icomoon';
  font-display: 'swap';
  font-weight: 400;
  font-style: normal;
  src: local('Helvetica');
  src: url('./fonts/icomoon.eot');
  src: url('./fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.woff') format('woff'), url('./fonts/icomoon.ttf') format('truetype');
}

.Icon {
  font-size: 86px;
  height: 86px;
  font-family: 'Icomoon';
  text-align: center;
  margin: auto;
  text-shadow: -1.5px -1.5px 0 #111, 1.5px -1.5px 0 #111, -1.5px 1.5px 0 #111, 1.5px 1.5px 0 #111;
}
